---Tiny Kitchen Requirements---

Team members
------------
Autumn Hale
Laura Lopez
Victoria Senn

Purpose
------------
Tiny Kitchen helps everyone choose and plan meals with ease. 
Our application offers users a large selection of recipes to 
choose from based on given guidelines, such as dietary 
restrictions and current pantry stock. Users can easily plan 
meals using a calendar and file system in order to save 
time and money.  

Requirements
------------
1. Name: add_recipe
   Type: functional
   Summary: Users should be able to add recipe cards from the Edamam API to their personal Tiny Kitchen Application. 

2. Name: create_recipe
   Type: functional
   Summary: Users should be able to create their own recipe cards and be able to store them to their personal Tiny Kitchen Application.

3. Name: delete_recipe
   Type: functional
   Summary: Users should be able to remove recipe cards from their personal Tiny Kitchen Application. 

3. Name: filter_recipe
   Type: functional
   Summary: Users should be able to search for recipes based on certain criteria using the Edamam API. 

4. Name: view_calories
   Type: functional
   Summary: Users should be able to see calorie count of recipes unless they opt out of feature.

5. Name: 
   Type: 
   Summary: 

6. Name: 
   Type: 
   Summary: 

7. Name: 
   Type: 
   Summary: 

8. Name: 
   Type: 
   Summary: 

9. Name: 
   Type: 
   Summary: 

10. Name: 
   Type: 
   Summary: 

11. Name: 
   Type: 
   Summary: 

12. Name: 
   Type: 
   Summary: 

13. Name: 
   Type: 
   Summary: 

14. Name: 
   Type: 
   Summary: 