---Tiny Kitchen Requirements---

Team members
------------
Autumn Hale
Laura Lopez
Victoria Senn

Purpose
------------
Tiny Kitchen helps everyone choose and plan meals with ease. 
Our application offers users a large selection of recipes to 
choose from based on given guidelines, such as dietary 
restrictions and current pantry stock. Users can easily plan 
meals using a calendar and file system in order to save 
time and money.  

Requirements
------------
1. Name: add_recipe
   Type: functional
   Summary: Users should be able to add recipe cards from the Edamam API to their personal Tiny Kitchen Application. 

2. Name: create_recipe
   Type: functional
   Summary: Users should be able to create their own recipe cards and be able to store them to their personal Tiny Kitchen Application.

3. Name: delete_recipe
   Type: functional
   Summary: Users should be able to remove recipe cards from their personal Tiny Kitchen Application. 

3. Name: filter_recipe
   Type: functional
   Summary: Users should be able to search for recipes based on certain criteria using the Edamam API. 

4. Name: view_calories
   Type: functional
   Summary: Users should be able to see calorie count of recipes unless they opt out of feature.

5. Name: platform_os
   Type: constraint
   Summary: The Tiny Kitchen application is targeted for Windows platforms version 10 or later. 

6. Name: internet_access
   Type: constraint
   Summary: Users must have access to internet for certain features of the Tiny Kitchen application to function properly. 

7. Name: recipe_collection_management
   Type: functional
   Summary: Users should be able to create, edit, and delete recipe collections saved on their computer using Tiny Kitchen. 
   
8. Name: pantry_management
   Type: functional
   Summary:  Users should be able to add, delete, or edit items in their pantry stock collection according to their kitchen stock. 

9. Name: access_limitations
   Type: constraint
   Summary: Tiny Kitchen may not have full capabilities for accessability tools such as screen readers. Tiny Kitchen may not have 
   quality of life features such as dark mode, native magnification, text highlighting, etc. Tiny Kitchen requires users have
   a basic understanding of English and computer navigation. 
   
10. Name: api_connection
   Type: risk
   Summary: Tiny Kitchen should utilize the Edamam API in order to provide full capabilities to users. Considered a risk, 
   as the API may no longer be supported at any point or may exceed maxiumum number of calls allowed. 

11. Name: 
   Type: 
   Summary: 

12. Name: 
   Type: 
   Summary: 

13. Name: 
   Type: 
   Summary: 

14. Name: 
   Type: 
   Summary: 
   
15. Name: 
   Type: 
   Summary: 
